



.navbar {
 /* float: left;*/
  margin: 0 0 0px 0;
  padding: 0px 0 0 0;
  width: 100%;
  border-bottom-width: 15px;
}


img {
 max-width: 100%; 
 max-height: 100%
   
}

#logo{

  width: 15%;
  padding-left: 0px;
  
 margin-left: 15px;

  

}

h1 {
  
  /*font-family: 'Lobster', cursive;*/
  padding-left: 0px;
  font-weight: bold;
  line-height: 0.8em;
 /* max-width: 30%;*/
  
  
}

h2{
	padding-left: 35%;
}

li {

	font-size: 1.25em;
	display: inline-block;
	padding: 0px;
	font-weight: bold;
	
}

.collapse.navbar-collapse {
  
 /* width: 50%;*/

	
}

.info {
	border-bottom-width: 40px;

}

.ft {
	margin-bottom: 50px;
	margin-top: 20px;

}

.title{
	padding-left: 0%;
}

p{
	font-size: 1.30em;
	margin-top: 20px;
}

.photo{

	width: 100%;
	

}


/************************************
COLORS
*************************************/
body{
/* color: #fff;
background-color: #8b66b2;*/


}

.navbar {
  background: #fff; 
  border-bottom-color: #7c50a7;
}

h1{
	color:#000;
}

a {

	color:#000;
	text-decoration: bold;
}


.info{

	background-color: #8b66b2;
	color:#fff;
	border-bottom-color: #7c50a7;
}

/*.odd{

	background-color: #8b66b2;
	color:#fff;
}

.even{

	background-color: #fff;
	color:#000;
}*/