
/*********************************
GENERAL STYLING
**********************************/

body {
  
  font-family: "Crimson", serif;
  font-weight: normal;



}


.eventsPage{
  background-image: url('../img/bg2b.png');
  background-repeat: no-repeat;
  margin-bottom: 10px;



}


img {
 max-width: 100%; 
  
}

h3{
  font-family: 'Crimson',serif;
  
  font-size: 2em;  
  font-weight: bold;

}


address{

  font-size: 18px;
  margin-left: 18px;
}


.verse{
  font-family: 'PT Serif', serif;
  font-size: 1.25em;
  font-style: italic;

}

p{
  font-size: 1.50em;
}



/*********************************
HEADING
**********************************/

.navbar {
 /* float: left;*/
  /*margin: 0 0 30px 0;*/
  padding: 0 0 0 0;
  width: 100%;
  
}



#logo{
  
  width: 80%;
 
}

h1 {
  
  font-family: 'Dancing Script', cursive, serif;
  font-weight: 700;
  margin-top: 50px;
  font-size: 65px;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  
  
}

h2 {
  font-family: 'PT Serif',serif;
  font-size: 25px;
  margin-top: 50px;
  font-weight: bold;
}




/************************************
NAVAGATION
*************************************/
.navbar-collapse {
  text-align: center;
  width: 100%;
  /*padding: 10px 0;*/
  /*margin-top: 30px; */ 
}

.navbar-collapse ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;

  
  
}

ul li {
  display: inline-block;
  margin-left: 0px;
  text-align: center;
  padding: 0 30px 0 30px;
/* margin-left: 30%;*/

  
}

ul a {
  font-weight: 800;
   font-size: 1.25em;
   text-align: center;
   margin-left: 25%;

}


ol li {

   font-size: 18px;
}

/* Carousel
================================ */

.carousel{
  background-image: url('../img/bg2b.png');
}
.carousel-indicators {
  bottom: 0;
}
.carousel-indicators .active {

  background-color: #222;
}
.carousel-indicators li {
  border-color: #222;
}

.btn {

  background-color: black;
  color: white;
  float: center;
  margin-left: 20px;
}


#slides{

  float: center;
  width: 60%;
  height: 40%;
  margin-left: 20%;
  margin-top: 0px;
  margin-bottom: 10px;

}

.item h1{
    
     font-size: 1.75em;
     margin-top: 0px;


}

/*==============================
Jumbotron
================================ */

.jumbotron {
  background-image: url('../img/bg2b.png');
  background-repeat: no-repeat;

  /*background-position:  200% 100%;*/
  /*padding: 200px 0 140px 0;*/
  /*margin-bottom: 70px;*/
/*  max-height: 1000px;*/*/
}

/*==============================
Photos 
================================ */


.helpPhoto {
  width: 400px;
  height: 500px;
  /*background: url('../img/volunter.jpg') no-repeat;*/
  margin-top: 50px;
  border-image: rounded;
}

.donatePhoto {
  width: 400px;
  height: 500px;
  /*background: url('../img/piggy.jpg') no-repeat;*/
  margin-top: 50px;
}

.aboutPhoto {
  width: 300px;
  height: 450px;
  margin-top: 50px;
}

.pastor{
  margin-top: 20px;
  width: 60%;

  
  
}

.event1Photo{
  width: 30%;
  margin-top: 30px;
}

.event2Photo{
  width: 20%;
  margin-top: 30px;
}

.contactPhoto{
   width: 80%;
   margin-left: 35%;

}


/************************************
FOOTER
*************************************/

footer{
    
  border-top-style: solid;
  border-top-width: 4px;
  
 /* color:#8b66b2;*/
  /*background-color: #8b66b2;*/
}


/************************************
COLORS
*************************************/


/* site body */
body {
  background-color: #fff;
  color: #000;  
}

/* shades of purple and white */
.navbar {
  background: #fff; 
  border-color: #7c50a7;
  /*color: #000;*/
}

footer {
  
  border-top-color: #efce00;
}

.navbar-collapse {
  background: #7c50a7;
}

/* logo text*/
h1, h2 {
  color:#000; 
  }

/* links*/
a {
  color: #7c50a7;
}

/* nav link */
nav a, nav a:visited {
  
  color: #fff;
}




/* selected nav link  is a yellow color*/
ul a.selected, ul a:hover {
  
  color: #efce00;
}



/*************************************************************************************************/

@media (max-width: 767px){

	h1{

		font-size: 40px;
		text-align: center;
		margin: 0px;
		/*max-width: 350px;*/
		
	}

  h2{
      font-size: 20px;
      text-align: center;
      margin-top: 10px;
  }

ul li{

  display: inline-block;
  padding: 0;
}

  ul a {

    font-size: 0.80em;
    padding:0;
    margin: 0;
  }

  h3{

     font-size:1.5em;
  }


  h4{

      font-size: 12px;
    }
  

  .jumbotron p, p, ol li{

      font-size: 1.1em;
    }


    .pastor{
  width: 30%;
   margin-bottom: 20px;
  
  
}

	#logo{
		width: 20%;

	}


}

